/* section class="hotels-populars" */

.hotels-populars {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

/* Media queries "élément par élément" pour la section "hotels-populars" : */

@media screen and (max-width: 1040px) {
    .hotels-populars {
        flex-direction: column;
    }
}

@media screen and (max-width: 860px) {
    .hotels-populars {
        flex-direction: column-reverse;
        gap: 40px;
    }
}

/* Media queries "3 tailles d'écrans" pour la section "hotels-populars" :

@media screen and (min-width: 768px) and (max-width: 992px) {
    .hotels-populars {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .hotels-populars {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 30px;
        gap: 0;
    }
}
*/

/* Bloc "Hébergements" */

.hotels {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 860px;
    height: 600px;
    box-sizing: border-box;
    padding: 40px;
}

.hotels-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 200px 200px;
    gap: 15px;
}

/* .hotel {
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 10%) 0px 4px 12px;
} */

.hotel a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    border: 5px solid white; 
    background-color: white;
    box-shadow: rgba(0, 0, 0, 10%) 0px 4px 12px;
}

.hotel img {
    object-fit: cover;
    width: 100%;
    height: 120px;
    
}

.hotel-card-description {
    padding: 5px 10px;
}

.hotel span {
    margin: 5px 0;
}

.more {
    margin-top: 20px;
}

.more a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: black;
}

/* Media queries "élément par élément" pour le bloc "Hébergements" : */

@media screen and (max-width: 1270px) {
    .hotels {
        width: 100%;
        height: 820px;
    }
    
    .hotels-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px 200px 200px;
    }
}

@media screen and (max-width: 1040px) {
    .hotels-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 200px 200px;
    }

    .hotels {
        width: 100%;
        height: inherit;
    }
}

@media screen and (max-width: 860px) {
    .hotels-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px 200px 200px;
    }
}

@media screen and (max-width: 768px) { 
    .hotels {
        border-radius: 0;
        padding: 40px 20px;
        background-color: white;
    }
    
    .more {
        display: none;
    }
}

@media screen and (max-width: 500px) { 
    .hotels-container {
        grid-template-columns: 1fr;
    }
}   

/* Media queries "3 tailles d'écrans" pour le bloc "Hébergements" :

@media screen and (min-width: 768px) and (max-width: 992px) {
    .hotels {
        width: 100%;
        height: inherit;
    }
}

@media screen and (max-width: 768px) {
    .hotels {
        background-color: white;
        border-radius: 0;
        width: 100%;
        height: inherit;
        padding: 0;
        padding-top: 30px;
        align-items: center;
    }

    .hotels h2 {
        width: 320px;
    }

    .hotels-container {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }

    .hotel {
        width: 320px;
    }

    .hotel img {
        width: 320px;
    }

    .more {
        display: none;
    }
}
*/

/* Bloc "Les plus populaires" */

.populars {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 400px;
    height: 600px;
    box-sizing: border-box;
    padding: 40px;
}

.populars-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populars-title i {
    color: #0065FC;
}

.populars-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.popular a {
    display: flex;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 20px;
    border: 5px solid white;
    background-color: white;
    width: 320px;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 10%) 0px 4px 12px;
}

.popular img {
    object-fit: cover;
    width: 40%;
    height: 150px;
}

.popular-card-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 10px;
    width: 60%;
}

strong {
    font-size: 16px;
    font-weight: 700;
}

.hotel-price,
.popular-price {
    font-size: 14px;
}

.euro {
    font-weight: 600;
}

/* Media queries "élement par élément" pour le bloc "Les plus populaires" : */

@media screen and (max-width: 1270px) {
    .populars {
        height: 820px;
    }

    .populars-container {
        gap: 90px;
    }
}

@media screen and (max-width: 1040px) {
    .populars {
        width: 100%;
        height: inherit;
        padding: 40px 20px;
    }
    
    .populars-container {
        flex-direction: row;
        gap: 15px;
    }

    .popular {
        flex: 1;
    }

    .popular a {
        width: inherit;
    }
}

@media screen and (max-width: 860px) {
    .populars {
        height: inherit;
        width: 100%;
    }

    .populars-container {
        flex-direction: column;
    }

    .popular img {
        object-fit: cover;
        width: 40%;
        height: 150px;
    }

    .popular-card-description {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .populars {
        border-radius: 0;
    }
}

/* Media queries "3 tailles d'écrans" pour le bloc "Les plus populaires" :

@media screen and (min-width: 768px) and (max-width: 992px) {
    .populars {
        width: 100%;
        height: inherit;
    }
    
    .populars-container {
        flex-direction: row;
    }

    .popular {
        flex: 1;
    }

    .popular a {
        width: inherit;
    }

    .popular img {
        width: 90px;
    }

    .popular strong {
        font-size: 14px;
    }

    .popular-price {
        font-size: 13px;
    }
}

@media screen and (max-width: 768px) {
    .populars {
        padding-top: 30px;
        width: 100%;
        border-radius: 0;
        align-items: center;
    }

    .populars-title {
        width: 320px;
    }

    .populars-container {
        width: 100%;
        align-items: center;
    }
}